<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

     <bean class="springprogram1.beans.Student" id = "stid1">
         <property name ="name" value = "Abhinav" />
         <property name ="rollNo" value = "102" />
         <property name ="email" value = "admin@admin.com" />
     </bean>
</beans>