<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="springprogram5.beans.Address" id = "addrId">
        <property name = "houseNo" value="111" />
        <property name="city" value="chandigarh" />
        <property name="pincode" value="12345" />
    </bean>

    <bean class="springprogram5.beans.Student" id = "stid1">
        <property name ="name" value = "Abhinav" />
        <property name ="rollNo" value = "102" />
        <property name ="address" ref = "addrId" />
    </bean>

</beans>