<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="springprogram6.beans.Address" id = "addrId">
        <constructor-arg value= "222" />
        <constructor-arg value="delhi" />
        <constructor-arg value="1234455" />
    </bean>

    <bean class="springprogram6.beans.Student" id = "stid1">
        <constructor-arg value= "102" />
        <constructor-arg value="Abhinav" />
        <constructor-arg ref="addrId" />
    </bean>

</beans>